@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
}

html {
  min-height: 100vh;
  overflow: hidden;
}

body {
  font-family: "Inter", sans-serif;
  background: #1e2227;
  color: #212121;
}

a {
  text-decoration: none;
  color: #212121;
}

.fa-solid {
  margin-inline: 16px;
}

h1,
h2,
h3 {
  margin-bottom: 5px;
  font-weight: 500;
}

input,
textarea,
button {
  margin: 5px 0;
  padding: 12px;
  font-family: "Inter", sans-serif;
  border-radius: 6px;
}

input,
textarea {
  width: 100%;
  border: 1px solid #e5e5e5;
}

label {
  font-size: 14px;
  font-weight: 500;
}

button {
  width: fit-content;
  border: none;
  background: #e5e5e5;
  color: #212121;
  font-weight: 600;
  cursor: pointer;
}

button:hover {
  filter: brightness(0.9);
}

button:active {
  filter: brightness(0.8);
}

form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.row {
  display: flex;
  gap: 20px;
}

.row > * {
  flex-grow: 1;
}

@media (max-width: 768px) {
  .row {
    flex-direction: column;
  }
}

.col {
  display: flex;
  flex-direction: column;
  gap: 20px;
  height: fit-content;
}

.col > * {
  flex-grow: 1;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 20px;
}

.space-between {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.card {
  display: flex;
  flex-direction: column;
  gap: 20px;
  height: fit-content;
  padding: 16px;
  background: #fff;
  box-shadow: rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px,
    rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
  border-radius: 6px;
}

.card.auth {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: calc(100% - 20px);
  max-width: 400px;
}

.card.auth button {
  width: 100%;
}

.layout {
  display: flex;
  overflow: hidden;
}

.sidebar {
  flex-grow: 0;
  flex-shrink: 0;
  width: 250px;
  height: 100vh;
  padding: 40px 20px;
  background: #1e2227;
}

.sidebar li a {
  display: block;
  margin-bottom: 5px;
  padding: 12px;
  border-radius: 6px;
  color: #fff;
}

.sidebar li a:hover {
  background: #2c313a;
}

.sidebar li a:active {
  filter: brightness(0.9);
}

.sidebar li.active a {
  background: #323842;
  color: #fff;
}

.main {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.header {
  flex-shrink: 0;
  flex-grow: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
  padding: 0 20px;
  background: #f5f5f5;
}

.content {
  flex-grow: 1;
  padding: 20px;
  background: #f5f5f5;
  overflow: auto;
}

.sidebar-responsive {
  position: fixed;
  top: 0;
  left: -100%;
  z-index: 1000;
  max-width: 250px;
  width: 100%;
  height: 100%;
  background: #fff;
  overflow: auto;
}

.sidebar-overlay {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  width: 100vw;
  height: 100vh;
  background: #0001;
}

.sidebar-responsive,
.sidebar-overlay {
  opacity: 0;
  pointer-events: none;
  transition: all 0.3s ease;
}

.sidebar-responsive.show,
.sidebar-overlay.show {
  opacity: 1;
  pointer-events: auto;
}

.sidebar-responsive.show {
  left: 0;
}

.sidebar-toggle {
  display: none;
}

.dropdown {
  position: relative;
  z-index: 2;
}

.dropdown .dropdown-button {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  overflow: hidden;
  cursor: pointer;
}

.dropdown .dropdown-button img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.dropdown .dropdown-items {
  position: absolute;
  right: 0;
  width: 200px;
  margin-top: 5px;
  box-shadow: rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px,
    rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
  border-radius: 6px;
  overflow: hidden;
  opacity: 0;
  pointer-events: none;
  transition: 0.3s;
}

.dropdown .dropdown-items.show {
  opacity: 1;
  pointer-events: auto;
}

.dropdown .dropdown-item {
  background: #fff;
  font-size: 14px;
  cursor: pointer;
}

.dropdown .dropdown-item > * {
  display: block;
  padding: 12px;
}

.dropdown-item:hover {
  filter: brightness(0.9);
}

.dropdown-item:active {
  filter: brightness(0.8);
}

.combobox {
  position: relative;
  z-index: 1;
}

.combobox-input {
  position: relative;
}

.combobox-btn {
  position: absolute;
  top: 50%;
  right: 16px;
  transform: translateY(-50%);
  font-size: 10px;
  cursor: pointer;
}

.combobox-options {
  position: absolute;
  width: 100%;
  height: fit-content;
  max-height: 200px;
  overflow: auto;
  margin-top: 5px;
  box-shadow: rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px,
    rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
  border-radius: 6px;
  opacity: 0;
  pointer-events: none;
  transition: 0.3s;
}

.combobox-options.show {
  opacity: 1;
  pointer-events: auto;
}

.combobox-option {
  padding: 12px;
  background: #fff;
  border-bottom: 1px solid #e5e5e5;
  cursor: pointer;
}

.combobox-option.active {
  background: #f5f5f5;
}

.combobox-option:hover {
  filter: brightness(0.9);
}

.combobox-option:active {
  filter: brightness(0.8);
}

.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  z-index: 1;
  transform: translate(-50%, -50%);
  width: calc(100% - 20px);
  max-width: 500px;
  max-height: calc(100% - 20px);
  padding: 20px;
  background: #fff;
  border-radius: 6px;
  box-shadow: rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px,
    rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
  overflow: auto;
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: #0001;
}

.modal,
.modal-overlay {
  opacity: 0;
  pointer-events: none;
  transition: all 0.3s ease;
}

.modal.show,
.modal-overlay.show {
  opacity: 1;
  pointer-events: auto;
}

.MuiToolbar-root {
  padding: 0 30px !important;
}

.MuiPaper-root {
  border-radius: 6px !important;
  box-shadow: rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px,
    rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px !important;
  overflow: hidden !important;
}

.MuiTable-root th,
.MuiTable-root td {
  height: 50px !important;
  padding: 0 30px !important;
}

.MuiTable-root th * {
  font-size: 14px !important;
  font-weight: 600 !important;
}

.image {
  position: relative;
  margin: 20px auto;
  height: 100%;
  width: 200px;
  border-radius: 100%;
  overflow: hidden;
}

.image:hover::before {
  opacity: 1;
}
.image::before {
  content: "+";
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #0005;
  color: #fff;
  font-size: 40px;
  border-radius: 100%;
  opacity: 0;
  transition: all 0.3s;
}

.image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  aspect-ratio: 1;
}

.image input {
  position: absolute;
  top: -100%;
  left: 0;
  width: 100%;
  height: 200%;
  border-radius: 100%;
  opacity: 0;
  cursor: pointer;
}

@media (max-width: 768px) {
  .layout > .sidebar {
    display: none;
  }

  .sidebar-toggle {
    display: block;
    width: 40px;
    height: 40px;
    background: #f5f5f5;
  }
}
